
@{
    ViewData["Title"] = "Index";
}

@model List<Bier>


<h1>Alle bieren</h1>

@if (Model != null)
{
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Naam</th>
                    <th>Alcohol</th>
                    <th>Prijs</th>
                    <th>Verwijderen</th>
                </tr>
            </thead>
            <tbody>
            @foreach (var bier in Model)
            {
                var url = "bier/verwijderen/" + bier.Id;
                        <tr>
                            <td>@bier.Id</td>
                            <td>@bier.Naam</td>
                            <td>@Html.DisplayFor(m=>bier.Alcohol)</td>
                            <td>@Html.DisplayFor(m=>bier.Prijs)</td>
                            <td>
                                <a asp-action="Verwijderen" asp-route-id="@bier.Id"><img src="~/images/delete.png" alt="verwijderen"/></a>
                            </td>
                        </tr>
            }
            </tbody>
        </table>

    <form asp-action="Prijsverhoging" method="post">
    <input type="submit" value="Verhoog prijzen" class="btn btn-light"/>
    </form>
        <a asp-action="Toevoegen" class="btn btn-primary">Bier toevoegen</a>
}



